@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "HUbuntu";
}
ul { list-style-type: none; }

/* navbar */
.navbar{
  height: 60px;
  padding-left: 330px;
  padding-right: 330px;
}
.navbar #logo {
  line-height: 60px;
}
.navbar #logo img{
  vertical-align: middle;
}

.navbar #menu {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.navbar #menu li {
  float:left;
  margin-left: 50px;
  line-height: 60px;
}


.navbar #menu li a {
  text-decoration: none;
  color: #545454 ;
  font-size: 13px;
  font-weight: bold;
}

/* hero header */


.hero-header{
  height: 450px;
  background-image: url("../img/main2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}



/* products */

.products h3{
  font-size: 24px;
  color: #545454;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
.product-list{
  width: 735px;
  margin-left: auto;
  margin-right: auto;
}

.product{
  width: 225px;
  text-align: center;
  display: block;
  color: #545454;
  text-decoration: none;
  float: left;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 80px;
  
}
.product img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
.product img:hover{
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.product-name{
  margin-top: 10px;
  margin-bottom: 4px;
  
}
.clearfix{
  clear: both;
}
/* footer */
.footer{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;

}
.footer a{
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}